<header ng-switch on="$location.path().indexOf('/Students/new') > -1">
    <h3 ng-switch-when="true">Create a new Student</h3>
    <h3 ng-switch-when="false">View or edit Student</h3>
</header>
<form id="StudentForm" name="StudentForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    

    <div class="form-group" ng-class="{'has-error': StudentForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text"class="form-control" ng-model="student.name" placeholder="Enter the Student Name"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': StudentForm.email.$invalid}">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div id="emailControls" class="col-sm-10">
            <input id="email" name="email" type="text"class="form-control" ng-model="student.email" placeholder="Enter the Student Email"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': StudentForm.phone.$invalid}">
        <label for="phone" class="col-sm-2 control-label">Phone</label>
        <div id="phoneControls" class="col-sm-10">
            <input id="phone" name="phone" type="text"class="form-control" ng-model="student.phone" placeholder="Enter the Student Phone"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': StudentForm.birthDate.$invalid}">
        <label for="birthDate" class="col-sm-2 control-label">Birth Date</label>
        <div id="birthDateControls" class="col-sm-10">
            <date id="birthDate" name="birthDate" ng-model="student.birthDate" placeholder="Enter the Student Birth Date"></date>
            <span class="help-block error" ng-show="StudentForm.birthDate.$error.dateFormat">does not match format "yyyy-MM-dd" (e.g. 2013-12-01)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': StudentForm.description.$invalid}">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div id="descriptionControls" class="col-sm-10">
            <input id="description" name="description" type="text" ng-maxlength="3000"class="form-control" ng-model="student.description" placeholder="Enter the Student Description"></input>
            <span class="help-block error" ng-show="StudentForm.description.$error.maxlength">maximum length is 3000</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': StudentForm.location.$invalid}">
        <label for="location" class="col-sm-2 control-label">Location</label>
        <div id="locationControls" class="col-sm-10">
            <input id="location" name="location" type="text"class="form-control" ng-model="student.location" placeholder="Enter the Student Location"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': StudentForm.sexe.$invalid}">
        <label for="sexe" class="col-sm-2 control-label">Sexe</label>
        <div id="sexeControls" class="col-sm-10">
            <input id="sexe" name="sexe" type="text"class="form-control" ng-model="student.sexe" placeholder="Enter the Student Sexe"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': StudentForm.createdOn.$invalid}">
        <label for="createdOn" class="col-sm-2 control-label">Created On</label>
        <div id="createdOnControls" class="col-sm-10">
            <date id="createdOn" name="createdOn" ng-model="student.createdOn" placeholder="Enter the Student Created On"></date>
            <span class="help-block error" ng-show="StudentForm.createdOn.$error.dateFormat">does not match format "yyyy-MM-dd" (e.g. 2013-12-01)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': StudentForm.language.$invalid}">
        <label for="language" class="col-sm-2 control-label">Language</label>
        <div id="languageControls" class="col-sm-10">
        <select id="language" name="language" class="form-control" ng-model="student.language" ng-options="l for l in languageList"  >
            <option value="">Choose a Language</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': StudentForm.able.$invalid}">
        <label for="able" class="col-sm-2 control-label">Able</label>
        <div id="ableControls" class="col-sm-10">
            <input id="able" name="able" type="checkbox" class="checkbox" ng-model="student.able" placeholder="Enter the Student Able"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': StudentForm.deleted.$invalid}">
        <label for="deleted" class="col-sm-2 control-label">Deleted</label>
        <div id="deletedControls" class="col-sm-10">
            <input id="deleted" name="deleted" type="checkbox" class="checkbox" ng-model="student.deleted" placeholder="Enter the Student Deleted"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveStudent" name="saveStudent" class="btn btn-primary" ng-disabled="isClean() || StudentForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteStudent" name="deleteStudent" class="btn btn-danger" ng-show="student.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>